<ion-header>    
    <ion-toolbar color="primary"> 
      <ion-buttons slot="start">
        <ion-button routerLink="/menu" routerDirection="back">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          back
        </ion-button>
      </ion-buttons>
      <ion-title>Términos y condiciones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
      <ion-text color="dark">
          <h5><strong>Reglamento</strong></h5>
        </ion-text>
        
  </ion-item>
  <ion-item class="ion-margin">
      <ion-textarea>
        - El servicio "encontrarse.com" es exclusivo para mayores de 18 años de edad. <br/>
        - La participación es solamente para personas LIBRES, entendiéndose por esto, toda persona sin pareja, o sea soltero/a, separado/a, divorciado/a y viudo/a. <br/>      
        - "encontrarse.com" se reserva el derecho de aceptar el ingreso en su sistema de personas que suministren información incompleta, tergiversada o de dudosa veracidad. <br/>       
        - Los usuarios del servicio "encontrarse.com" conservan para sí la prerrogativa de "subir" su fotografía personal. La "subida" no es obligatoria para ingresar al sistema. Los desnudos no son aceptados. <br/>     
        - En ningún caso " encontrarse.com" se hará responsable por la imposibilidad de utilización del sistema, salvo que dicha dificultad provenga de inconvenientes en nuestro servidor, en ese caso solo se compensará los días perdidos con idéntica cantidad que se adicionarán al finalizar el período  <br/>      
        - "encontrarse.com" se reserva el derecho de agregar, quitar o modificar cualquier campo de los formularios o del sistema de búsqueda. <br/>       
        - El usuarios acepta conocer el sistema, el funcionamiento y sus alcances.
        
        - "encontrarse.com" mantiene en carácter confidencial la información personal recibida por parte de los usuarios. En ningún caso, ni bajo ningún motivo "encontrarse.com" difunde nombres reales, direcciones domiciliarias o números telefónicos a terceros y/o usuarios del sistema.
        
        - No se deberá utilizar un mismo usuario para más de una persona.
        
        - El usuario es el único responsable por el cumplimiento de las normas existentes en su país respecto de estas actividades.
        
        - "encontrarse.com" pone a disposición de los usuarios un sistema de soporte, para consultas, sugerencias, etc. soporte@encontrarse.com
        
        - Los usuarios del servicio que aceptan la/s pre-presentación/es que proponga "encontrarse.com" y conservan por derecho propio la prerrogativa de dar a conocer su nombre real y/o número telefónico a la/s persona/s elegida/s. El usuario es el único que decide cuando y en qué momento revelará su identidad a otro miembro del sistema.
        
        - Para el uso del sistema solo es necesario conocimientos básicos de Windows, y el manejo de los navegadores y programas de correo electrónico.
        
        - Los usuarios deben tener una dirección propia de correo electrónico, la misma no puede ser compartida por dos usuarios.
        
        - Los usuarios tienen la posibilidad de excluir o modificar sus datos de "encontrarse.com" en cualquier momento.
        
        - Encontrarse.com posee muchas secciones en las cuales se puede participar estando en PRUEBA, por más que no sea un usuario ACTIVO, se entiende por usuario ACTIVO al usuario una vez que abona un arancel mínimo o recibe esta condición por alguna de las promociones existentes. El estadió en PRUEBA es limitado, pudiendo restringirse funcionalidades al vencer esta condición.
        
        - Una vez que el usuario es ACTIVO puede acceder a los emails de los otros usuarios del sistema, siempre que ellos lo permitan y de sus coincidencias.
        
        - Los pagos se realizarán antes del vencimiento, acreditándose los meses abonados a posterior de la fecha de vencimiento o de la fecha de pago. Vea los costos en costos.
        
        - La falta de pago lleva al cambio de categoría del usuario en forma inmediata al cumplimiento de la fecha de vencimiento.
        
        - Se considerará efectivizado el pago una vez que los valores se encuentren acreditados en las cuentas designadas a tales efectos, quedando "encontrarse.com" eximido de toda responsabilidad, por el extravío , robo , hurto, etc de los mismos ocurrido antes de acreditarlo.
        
        - "encontrarse.com" se reserva el derecho de excluir de su sitema a toda persona que haga uso de lenguaje procaz, vulgar, obsceno y/o con expresiones de contenido racista y/o discriminatorio.
        
        - "encontrarse.com" no puede hacerse responsable por la veracidad de los datos suministrados por los usuarios.
        
        - Siendo "encontrarse.com" un servicio exclusivo para mayores de 18 años de edad, los mismos son los únicos responsables de sus actos.
        
        - En ningún caso, "encontrarse.com" arbitrará o dirimirá eventuales conflictos que puedan surgir entre usuarios de este servicio.
        
        - Está prohibido el envío de publicidad de cualquier tipo sin el consentimiento de "encontrarse.com" tanto dentro del sitio como haciendo uso de los emails que en el sitio figuran.
        
        - Todas estas cláusulas son esenciales. El incumplimiento a cualquiera de ellas dará lugar a la exclusión del usuario, no pudiendo reclamar suma alguna por ningún concepto.
        
        
        CARTA ENVIADA EL 9-7-03
        
        1.- Les recordamos que, Encontrarse (sección parejas) es un sitio dirigido únicamente a personas que no tienen compromisos, y que están disponibles para hallar una relación medianamente estable, es decir, que excluye expresamente a quienes se encuentran casados o en pareja.
        A quienes no estén encuadrados en estas condiciones, tenemos otra propuesta en http://www.xunanoche.com , que, seguramente será de vuestro interés y donde serán bienvenidos.
        Aquellos usuarios que, posteriormente a su inscripción en el sitio, hallaron pareja, y desean seguir perteneciendo a nuestra comunidad, pueden continuar haciéndolo, haciendo saber tal situación en forma expresa.
        
        2. Es nuestra intención que, quienes participan del sitio estén comprometidos con el mismo. Por tal motivo, para ser Usuario Activo, solicitamos, o bien el pago de la suscripción ( ver Asociarse) o colaborando con la difusión del sitio como se detalla en la sección Difusión.
        
        3.- Por una cuestión de buena fe y para mantener la transparencia en el sitio, les recordamos que, cada usuario puede cargar solamente un perfil, y no está permitido dar de baja uno para crear otro. Para hacer estas modificaciones o cambiar de nombre de usuario, deben hacerlo a través de soporte, exponiendo cuáles son sus motivos.
        
        4- Insultos, palabras fuertemente groseras, lenguaje procaz, agresiones o fotos obcenas, no están permitidas en el sitio y puede dar motivo al bloqueo, inclusive si en correos privados es denunciado por otro usuario del sitio.
        
        5.- Recuerden, que nos reservamos el derecho de admisión y permanencia, de todo aquel usuario, ya sea o no ACTIVO, por incumplimiento de cualquiera de los puntos arriba mencionados o del reglamente o de las notas que reglamentan diferentes secciones del sitio, por atentar contra el sitio, por pretender evadir los controles (por ejemplo la difusión de los emails), o alentar o colaborar para que otro lo haga.
        
        
        16/7/2003
        <div style="margin-top:15px; text-align: center;">Vea también en
          <a class="ion-home color-primary item" href="#" onclick="window.open('http://www.webkit.com.ar/ayuda/?w=104', '_system', 'location=yes'); return false;"> Ayuda</a>.Ayuda las Reglamentaciones particulares de cada sección.
        </div>
      </ion-textarea>
  </ion-item>
</ion-content>
